<!DOCTYPE html>
<html lang="en" ng-app="playground">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Playground</title>
    <meta name='viewport' content='width=device-width,initial-scale=1,user-scalable=yes'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.js"></script>
    <script src="http://code.ionicframework.com/1.3.1/js/ionic.bundle.js"></script>
    <script src="ejector.js"></script>
    <style>
        body {
            margin: 10px;
        }
        code {
            display: block;
            margin: 5px 0;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
        }
        textarea {
            font-family: monospace;
            margin: 10px 0;
            width: 100%;
        }
    </style>
</head>
<body ng-controller="EjectorController">
    <div class="container-fluid">
        <h1>AngularJS Playground</h1>
        <p>Open your console, or use the text box below. <br>
            All built-in services are &quot;ejected&quot; for you.
        </p>

        <div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary"
                        ng-click="eval()">Run</button>
                <textarea class="form-control"
                          ng-model="eval.code"
                          cols="80" rows="30">
                </textarea>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary"
                        ng-click="eval()">Run</button>
                <code ng-bind="log" title="{{ log }}"
                      ng-repeat="log in logs | reverse track by $index"></code>
            </div>
        </div>
    </div>
</body>
</html>
